@import '../../../styles/colors.scss';
.container_pokedex {
  max-width: 700px;
  max-height: 700px;
  position: relative;
  .pokedex {
    max-width: 700px;
    max-height: 700px;
    border-radius: 20px;
    border: 4px solid $black;
  }
}
