.footer{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(20,20,20);
    height: 50px;
    width: 100%;
    padding: 0 20px;
    p{
        font-size: 20px;
        color: #fff;
    }
}